@import "../main.scss";
.featured-conferences,
.past-conferences {
  .slick-list {
    .slick-slide {
      .conferences-card {
        .views-field-field-card-image {
          &::before {
            background-color: $blue-color;
          }
        }
      }
    }
  }
}
.recommended-conferences {
  .slick-list {
    .slick-slide {
      .conferences-card {
        .views-field-field-card-image {
          &::before {
            background-color: $green-color;
          }
        }
      }
    }
  }
}
.slick-slider {
  height: auto;
  max-width: 1366px;
  margin: 0 auto;
  @include breakpoint(tablet) {
    margin: 0px 16px;
  }
  @include breakpoint(desktop) {
    gap: 32px;
    margin: 0px auto;
    margin-bottom: 80px !important;
  }
  .slick-track {
    display: flex;
    @include breakpoint(tablet) {
      gap: 16px;
    }
    @include breakpoint(small-desktop) {
      gap: 32px;
    }
    @include breakpoint(desktop) {
      gap: 47px;
      margin: 25px 0px;
    }
  }
  .slick-prev {
    &::before {
      content: "";
      background: url("../../images/left-arrow.png");
      background-position: center;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      display: block;
    }
  }
  .slick-next {
    &::before {
      content: "";
      background: url("../../images/right-arrow.png");
      background-position: center;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      display: block;
    }
  }
  .slick-dots {
    bottom: -45px;
    display: flex;
    gap: 20px;
    justify-content: center;
    li {
      button::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid $blue-color;
      }
    }
    li.slick-active button::before {
      background-color: $blue-color;
      opacity: 1;
    }
  }

  .slick-list {
    max-width: 1280px;
    margin: 0 auto;
  }

  .slick-slide {
    position: relative;
    border: 1px solid $grey-color;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
    transition: transform 0.3s ease;
    transition: opacity 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      .card-footer {
        height: auto;
        opacity: 1;
      }
    }
    @include breakpoint(tablet) {
      width: auto !important;
      max-width: 360px;
      margin: 0;
    }
    @include breakpoint(desktop) {
      width: auto !important;
      max-width: 372px;
      margin: 0;
    }

    .views-field-field-price {
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px 12px;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 999;
    }
    .views-field-field-card-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        padding: 5px;

        margin: -30px;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
      }

      &::after {
        content: "★";
        position: absolute;
        display: block;
        color: white;
        fill: white;
        font-size: 0.8rem;
        top: 0;
        left: 0;
        padding: 5px;
      }
    }
    .views-field-field-card-title {
      color: $dark-grey-color;
      font-weight: 700;
      margin-top: 25px;
      padding-left: 30px;
      padding-right: 70px;
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    .views-field-field-category,
    .views-field-field-location,
    .views-field-field-date {
      color: grey;
      font-weight: 600;
      margin-top: 15px;
      padding-left: 30px;
      padding-right: 70px;
      font-size: 0.9rem;
      display: flex;
      gap: 8px;
    }

    .card-footer {
      border-top: 1px solid $grey-color;
      display: flex;
      align-items: center;
      margin-top: 15px;
      height: 0;
      opacity: 0;
      transition: transform 0.5s ease, height 0.5s ease;
      .card-download a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        width: 20px;
        height: 20px;
        color: transparent;
        font-size: 0px;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: url("../../images/cloud-computing.png") no-repeat center
            center;
          background-size: contain;
          transition: background 0.3s ease;
        }
      }
      .card-download a:hover::before {
        background: url("../../images/cloud-computing-blue.png") no-repeat
          center center;
        background-size: contain;
      }
      .card-share,
      .card-download,
      .card-favourite {
        height: 50px;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $grey-color;
      }
      .card-view-details {
        margin: 0 auto;
        padding: 0;

        a {
          text-decoration: none;
          color: $blue-color;
          font-weight: 600;
          font-size: 0.9rem;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          text-decoration: none;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }
      .card-share a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        width: 20px;
        height: 20px;
        color: transparent;
        font-size: 0px;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: url("../../images/share-icon.png") no-repeat center center;
          background-size: contain;
          transition: background 0.3s ease;
        }
      }
      .card-share a:hover::before {
        background: url("../../images/share-icon-blue.png") no-repeat center
          center;
        background-size: contain;
      }
      .card-favourite a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        width: 20px;
        height: 20px;
        color: transparent;
        font-size: 0px;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: url("../../images/heart-icon.png") no-repeat center center;
          background-size: contain;
          transition: background 0.3s ease;
        }
      }
      .card-favourite a:hover::before {
        background: url("../../images/heart-icon-blue.png") no-repeat center
          center;
        background-size: contain;
      }
    }
    .views-field-field-category {
      &::before {
        content: "🏠";
        display: block;
        color: white;
        fill: white;
        font-size: 0.7rem;
      }
    }
    .views-field-field-location {
      margin-bottom: 15px;
      &::before {
        content: "📍";
        display: block;
        color: white;
        fill: white;
        font-size: 0.7rem;
      }
    }
    .views-field-field-date {
      &::before {
        content: "📅";
        display: block;
        color: white;
        fill: white;
        font-size: 0.7rem;
      }
    }
  }
}
